{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lær norsk i München</title>
        <link rel="shortcut icon" type="image/x-icon" href="static/x_app/images/norge.png" />
        <link rel="stylesheet" href="{% static 'x_app/styles.css' %}" />
    </head>
    <body style="background-color: white">

        <header>
            <!--<h1 style="color:rebeccapurple">Språkkurs</h1>-->
            <nav>

            </nav>
        </header>
        <img src="static/x_app/images/utsikt-ny.png" width=100%>
        <hr>

        <div class="container">

            <div class="d1"></div>
            <div class="d2"></div>
            <div class="d3"></div>
            <div class="d4">
                <main>
                    <img src="static/x_app/images/logo.jpg" width=100%>
                    <a href="{% url 'login' %}" target="_blank"><img src="static/x_app/images/button1.png" alt="Button" /></a>
                    <img width=42.5% src="static/x_app/images/julian_ny.png">
    
                    <article>
                        <section>
                            <p id="font" style="color: pink; background-color: gray;"><i>Jeg har bodd i Norge i to år og ønsker å lære bort språket. Kursene kartlegges helt individuelt. Jeg elsker fremmedspråk og har vært opptatt av å hjelpe folk blant annet med leksehjelp siden jeg var 15.</i></p>
                        </section>
                        <section>
                            <p id="font" style="color: pink; background-color: gray;">Ich habe zwei Jahre in Norwegen gelebt und möchte die Sprache gerne anderen beibringen. Die Kurse werden ganz individuell zusammengestellt. Ich liebe Fremdsprachen und habe schon immer gerne Menschen geholfen, zum Beispiel mit Nachhilfe seit meinem 15. Lebensjahr.</p>
                        </section>
                        <section>
                            <p id="font" style="color: pink; background-color: gray;"><i>Konseptet mitt går ut på å formidle norsk på en naturlig måte, slik at det er gøy for deg. Uten mye pugging.</i></p>
                        </section>
                        <section>
                            <p id="font" style="color: pink; background-color: gray;">Mein Konzept besteht daraus, norwegisch auf einer natürlichen Art und Weise zu vermitteln, sodass es dir Spaß macht. Ohne viel Büffeln.</p>
                        </section>
                        <section>
                            <p id="font" style="color: pink; background-color: gray;"><i>Uansett hva du vil gjøre i Norge, skal jeg forberede deg på å ha et godt ordforråd i det området du er aktiv i. Jeg vil dessuten henvise til teknikker slik at du kan lære selv.</i></p>
                        </section>
                        <section>
                            <p id="font" style="color: pink; background-color: gray;">Ganz egal, was du in Norwegen machen willst, werde ich dich darauf vorbereiten, einen guten Wortschatz in deinem Tätigkeitsfeld zu haben. Ich werde außerdem Techniken zum selbst Lernen ausarbeiten.</p>
                        </section>
                        <section>
                            <p id="font" style="color: pink; background-color: gray;"><i>Du kan gå og booke en gratis prøvetime akkurat nå, fysisk eller digitalt!</i></p>
                        </section>
                        <section>
                            <p id="font" style="color: pink; background-color: gray;">Du kannst jetzt gleich eine kostenlose Probestunde buchen, vor Ort oder digital!</p>
                        </section>
                    </article>
                    <a href="{% url 'login' %}" target="_blank"><img src="static/x_app/images/button1.png" alt="Button" /></a>
                </main>
    
                <footer>
                    <img src="static/x_app/images/maritindan.png" width=100%>
                </footer>
            </div>
            <div class="d3"></div>
            <div class="d2"></div>
            <div class="d1"></div>
        </div>

        

        
        
    </body>
</html>